/* COLOR FONS */
:host {
    --slds-c-card-color-background: #FFF;
}

.info{
    background-color: #fff;
    position: relative;
    margin: 3em;
    z-index: 6;
}
.icon{
    margin-right: 0.5em;
}

.titol{
    font-size: 1.1em;
    font-weight: bold;
    color: #08355d;
}

.activity-border {
    border: 2px solid rgba(184, 177, 177, 0.747);
    padding: 10px;
    border-radius: 5px;
}

.nom{
    font-size: 0.8em;
}

