.activity-feed {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.activity {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
}

.header {
    display: flex;
    align-items: center;
}

.title-time {
    display: flex;
    flex-grow: 1; /* Let the title take up remaining space */
    align-items: center;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.time {
    color: #888;
    margin-left: 10px; /* Adjust as needed */
}

.action {
    margin-top: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between; /* Align time to the right */
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}